/.direnv
/.docker-postgres
/.env
/.env.production
/.postgres
/target
/deploy/Caddyfile
/release.tgz
/.vendor
/frontend/.env.local
/frontend/.next
/frontend/node_modules
/frontend/tsconfig.tsbuildinfo
